body
    {
      background-color: bisque;
     }
hr
    {
        border-style: none;
        border-top-style: dotted;
        border-color: white;
        border-width: 5px;
        width: 5%;
    }
h1
  {
    color: #C27664;
    font-size: 35px;
  }
h3
{
    color: #C27664;
    font-size: 30px;
}
#button{
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    text-align: center;
    background-color: #F99417;
    font-size: 20px;
    margin: 20px 120px;
}

p{
    font-size: 30px;
}
img{
    width:250px;
}
li{
    font-size: 25px;
    padding: 10px;
}


th{
    font-size: 28px;
}
td{
    font-size: 25px;
}
#name{
    font-size: 20px;
}
#email{
    font-size: 20px;
}
#message{
    font-size: 20px;
    margin-left: 10px;
}

label{
    font-size: 25px;
    padding: 10px;
}
strong{
    color: white;
}

